.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.card {
    height: 100px;
    img{
        height: 250px;    
    }
}

.restrict{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        margin: 10px;
    }
}

.allowed{
    color: green;
}

.n_allowed{
    color: red;
}